<?xml version="1.0"?>
<config>
    <modules>
        <Zapper_DeepLinking>
            <version>0.0.1</version>
        </Zapper_DeepLinking>
    </modules>
    <global>
        <helpers>
            <deeplinking>
                <class>Zapper_DeepLinking_Helper</class>
            </deeplinking>
        </helpers>
        <blocks>
            <deeplinking>
                <class>Zapper_DeepLinking_Block</class>
            </deeplinking>
        </blocks>
        <models>
            <deeplinking>
                <class>Zapper_DeepLinking_Model</class>
            </deeplinking>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <deeplinking>
                    <file>zapper.xml</file>
                </deeplinking>
            </updates>
        </layout>
        <routers>
            <deeplinking>
                <use>standard</use>
                <args>
                    <module>Zapper_DeepLinking</module>
                    <frontName>zapperdeeplinking</frontName>
                </args>
            </deeplinking>
        </routers>
    </frontend>
    <default>
        <payment>
            <zapperdeeplinking>
                <active>1</active>
                <model>deeplinking/deepLinking</model>
                <order_status>pending</order_status>
                <title>Pay with Zapper</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </zapperdeeplinking>
        </payment>
    </default>
</config>
